<!DOCTYPE html>
<html>
    <body>
        <h1>Work Days</h1>
        <table>
            <tr>
                <th>Date</th>
                <th>Yards Cut</th>
                <th>Employees</th>
            </tr>
            {% for day in workdays %}
            <tr>
                <td>{{day.date}}</td>
                <td>{% for yard in day.yards_cut.all %}
                        {{yard.address}}, 
                    {% endfor %}    
                </td>
                <td>{% for emp in day.staff.all %}
                        {{emp.name}},
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}         
        </table>
    </body>
</html>