{% extends 'tracker/core.html' %}

{% block content %}
    <body>
        <h1 class="title">Work Days</h1>
        <table class="workday-table">
            <tr>
                <th>Date</th>
                <th>Yards Cut</th>
                <th>Employees</th>
            </tr>
            {% for day in workdays %}
            <tr>
                <td>{{day.date}}</td>
                <td>
                    <ul>
                        {% for yard in day.yards_cut.all %}
                            <li><a href="{% url 'yard_detail' yard.id %}">{{yard.address}}</a></li> 
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        {% for emp in day.staff.all %}
                            <li><a href="{% url 'employee_detail' emp.id %}">{{emp.name}}</a></li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endfor %}         
        </table>
    </body>
{% endblock %}